mat-toolbar{
    height: 180px;
    padding: 2%;
    margin-top: 0;
    
    background-color: rgb(116, 116, 243);
    display: flex;
    justify-content:space-between;
}
img{
    height: 150px;
    width: 150px;
}

.mat-stroked-button {
    background-color:rgb(240, 229, 229);
    color: blue;
}
