table{
    
    width: 80%;
    margin:auto;
    margin-top: 3%;
    

}
tr{
    text-align:center;
}
th.mat-header-cell{
    text-align: center;
}
th{
    text-align:center;
}

.mat-stroked-button {
    float:right;
    margin-right: 2%;
    background-color:#424242;
    color: white;
    margin-top:3%;
}
img{
    display: block;
    height: 30px;
    width: 20px;
}

test{
    color:green;
}