<app-barre-menu></app-barre-menu>

<div class="center" >
  <mat-card>
    <mat-card-title >
      Indentifiez vous :
    </mat-card-title>

  
    <form class="formulaire"  [formGroup]="form">
      <mat-form-field>
        <input matInput required type="email" 
        formControlName="email" placeholder="E-mail">
      </mat-form-field>

      <mat-form-field>
          <input matInput required type="password" 
          formControlName="password" placeholder="Mot de passe">
      </mat-form-field>

      <button mat-raised-button color="primary"
      (click)="login()">Connexion</button>

    </form>
  </mat-card>
</div>
